<div class="contenedor mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Alumnos</span>
            <button type="button" class="btn btn-dark btn-agregar" (click)="mostrarFormAgregar()">Agregar</button>
            <table class="table table-striped mt-5">
              <thead>
                <tr>
                  <th>Legajo</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Situación</th>
                  <th>Fecha de Inscripción</th>
                  <th>Carrera</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let estudiante of listaEstudiantes">
                  <td class="align-middle">{{estudiante.legajo}}</td>
                  <td class="align-middle">{{estudiante.nombre}}</td>
                  <td class="align-middle">{{estudiante.apellido}}</td>
                  <td class="align-middle" *ngIf="estudiante.regular">Regular</td>
                  <td class="align-middle" *ngIf="!estudiante.regular">No Regular</td>
                  <td class="align-middle">{{estudiante.fecha_inscripcion}}</td>
                  <td class="align-middle">{{estudiante.carrera}}</td>
                  <td class="align-middle">
                      <button type="button" class="btn btn-outline-primary custom-btn" mat-icon-button (click)="EditarAlumno(estudiante)"><mat-icon>border_color</mat-icon></button>
                      <button type="button" class="btn btn-outline-danger custom-btn" mat-icon-button (click)="EliminarAlumno(estudiante)"><mat-icon>delete</mat-icon></button>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <hr>
            <form *ngIf="mostrarFormularioAgregar" class="nobarra">
              <strong><h2>Agregar nuevo alumno</h2></strong>
                <br>
                <div class = "form-floatin">
                  <input type="number" [(ngModel)]="estudianteNuevo.legajo" name="legajo" placeholder="Legajo"> 
                </div>
                <br>
                <div class = "form-floatin">
                  <input type="text" [(ngModel)]="estudianteNuevo.nombre" name="nombre" placeholder="Nombre">
                </div>
                <br>
                <div class = "col">
                  <input type="text" [(ngModel)]="estudianteNuevo.apellido" name="apellido" placeholder="Apellido"> 
                </div>
                <br>
                <div class = "form-floatin">
                  <input type="text" [(ngModel)]="estudianteNuevo.carrera" name="carrera" placeholder="Carrera"> 
                </div>
                <br>
                <div class = "form-floatin">
                  <input type="checkbox" [(ngModel)]="estudianteNuevo.regular" name="regular"> Regular 
                </div>
                <br>
                <div class = "form-floatin">
                  <input type="date" [(ngModel)]="estudianteNuevo.fecha_inscripcion" name="fecha"> 
                </div>
                <br>
                <div class="form-floatin">
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary custom-btn" (click)="AgregarEstudianteEnEsteComponente()">Agregar</button>  
                    <button type="reset" class="btn btn-secondary custom-btn" (click)="CancelarFormAgregar()">Cancelar</button>  
                  </div>
                </div>
              <hr>
            </form>
            <app-alumnohijo *ngIf="mostrarComponenteHijo" [estudianteAEditar]="estudianteAModificar" (EventoEstudianteHijo)="EditarAlumnoQueVieneDesdeHijo($event)" (cerrarComponenteHijo)="cerrarComponenteHijo()"></app-alumnohijo>
        </div>
    </div>
</div>
