<div class="wrapper">
    <div class="body" *ngIf="!loading">
        <img class="logo" src="../../../assets/img/user.png" alt="login">
        <strong>
            <h1>Recuperar</h1>
        </strong>
        <form [formGroup]="recuperarForm" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
                <label>Email</label>
              </div>
              <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary" type="submit">Recuperar</button>
              </div>
              <a routerLink="/login" >Volver</a>
        </form>
    </div>
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>
