<mat-toolbar color="primary">
    <span>Pagina de Cursos</span>
    <span class="example-spacer"></span>
    <button mat-button  routerLink="/dashboard/Materias">Materias</button>
    <button mat-button  routerLink="/dashboard/Estudiantes">Estudiantes</button>
    <button mat-button  routerLink="/dashboard/Cursos">Cursos</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>